body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

button {
    background-color: #37dcc4;
    border: none;
    color: white;
    padding: 7px 22px;
    text-align: center;
    text-decoration: none;
}

.title {
  align-content:center;
  text-align: center;

.main {
  width: 60%;
  align-content:center;
  text-align: center;
  float:left;
  border-collapse: collapse;
}

.other {
  align-content:center;
  text-align: center;
  width: 40%;
  float: right;
  border-collapse: collapse;
}
.end {
  position:fixed;
  bottom:25px;
  align-content:center;
  text-align: center;
}
